<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-md-8 offset-2">
      <br />
      <h3>Create New Listing</h3>
      <form
        method="POST"
        action="/listings"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            name="listing[title]"
            placeholder="enter title"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title looks good!</div>
          <div class="invalid-feedback">Enter a valid title</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            placeholder="description goes here..."
            class="form-control"
            required
          ></textarea>
          <div class="valid-feedback">Description is okay</div>
          <div class="invalid-feedback">Enter a valid description</div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image URL</label>
          <input name="listing[image]" type="file" class="form-control" />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label class="form-label" for="price">Price</label>
            <input
              name="listing[price]"
              placeholder="e.g: 1000"
              type="number"
              class="form-control"
              required
            />
            <div class="valid-feedback">Price is okay</div>
            <div class="invalid-feedback">Enter a valid price</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input
              name="listing[location]"
              placeholder="e.g: Panipat, Haryana"
              type="text"
              class="form-control"
              required
            />
            <div class="valid-feedback">Location is okay!</div>
            <div class="invalid-feedback">Enter a valid location</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            placeholder="e.g: India"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Country is okay!</div>
          <div class="invalid-feedback">Enter a valid country</div>
        </div>
        <button class="btn btn-dark">Add</button>
        <br /><br />
      </form>
    </div>
  </div>
</body>
